body {
  font-family: $default-font;
  color: $mainColor;
  font-weight: $mainWeight;
  font-size: $mainSize;
  padding-top: $heightHeader;
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  @media (max-width: 700px) {
    padding-top: 50px;
  }
  a,
  button,
  label,
  p {
    background-color: transparent;
    color: $mainColor;
    font-weight: $mainWeight;
    font-size: $mainSize;
    transition: 0.3s;
  }

  img {
    object-fit: cover;
  }
  &.block {
    overflow: hidden;
  }
  &.mouse-device {
    cursor: none;
    a,
    button,
    label,
    p {
      cursor: none;
    }
    a,
    button {
      &:hover {
        cursor: none !important;
      }
    }
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: $heightHeader;
}
.section {
  .container {
    padding: 0 55px 0 10px;
    @media (max-height: 750px) {
      padding-right: 10px;
    }
    @media (max-width: 700px) {
      padding: 0 10px;
    }
    // @media (max-width: 900px) {
    //   padding: 0 55px 0 20px;
    // }
  }
}
.container {
  max-width: calc(#{$content-width} + 20px);
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  // @media (max-width: 900px) {
  //   padding: 0 20px;
  // }
}
#fullpage {
  background-color: #fff;
}
.cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999999;
  transition: width 0.2s, height 0.2s;
  &--disable {
    display: none;
  }
  &--pointer {
    width: 48px;
    height: 48px;
  }
  &--leave {
    opacity: 0;
  }
  &--click {
    width: 8px;
    height: 8px;
  }
}
.pagination {
  position: fixed;
  // right: 0;
  pointer-events: none;
  width: 100%;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  margin-top: 30px;
  @media (max-width: 700px) {
    display: none;
  }
  @media (max-height: 750px) {
    display: none;
  }
  .container {
    text-align: right;
  }
  &__number {
    font-weight: 900;
    line-height: 160%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--black);
    -ms-text-stroke-width: 0.5px;
    -ms-text-stroke-color: var(--black);
    -moz-text-stroke-width: 0.5px;
    -moz-text-stroke-color: var(--black);
    color: #fff;
    margin-bottom: 20px;
    margin-right: 10px;
    @media (max-height: 850px) {
      margin-bottom: 5px;
    }
    &--active {
      color: var(--black);
    }
  }
  &__text {
    font-weight: 900;
    line-height: 140%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--black);
    -ms-text-stroke-width: 0.5px;
    -ms-text-stroke-color: var(--black);
    -moz-text-stroke-width: 0.5px;
    -moz-text-stroke-color: var(--black);
    color: #fff;
    transform: rotate(90deg);
    display: inline-flex;
    // align-items: center;
    height: 139px;
    width: 139px;
    // justify-content: flex-end;
    margin-top: 30px;
    margin-right: 10px;
    pointer-events: auto;
    @media (max-height: 850px) {
      margin-top: 5px;
    }
    &:hover {
      color: var(--black);
      .pagination__arrow {
        path {
          fill: var(--black);
        }
      }
    }
  }
  &__arrow {
    margin-left: 17px;
    margin-top: 8px;
    path {
      transition: 0.3s ease-in;
    }
    // transform: rotate(90deg);
  }
}
.title {
  font-weight: 900;
  font-size: 100px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: 900px) {
    font-size: 55px;
  }
  @media (max-width: 700px) {
    font-size: 45px;
  }
  @media (max-width: 500px) {
    font-size: 35px;
  }
  &__white {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black);
    -ms-text-stroke-width: 1px;
    -ms-text-stroke-color: var(--black);
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: var(--black);
    color: #fff;
  }
}
.swiper {
  &-container {
    overflow: visible;
  }
  &-wrapper {
    justify-content: space-between;
  }
  &-scrollbar {
    border-radius: 0;
    width: 100%;
    height: 2px;
    margin: 0 7px;
    &__wrapper {
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      display: none;
      @media (max-width: 500px) {
        display: flex;
      }
    }
    &-drag {
      height: 4px;
      top: -1px;
    }
    &__number {
      font-weight: 900;
      font-size: 20px;
      line-height: 140%;
      text-transform: uppercase;
      &--amount {
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--black);
        -ms-text-stroke-width: 1px;
        -ms-text-stroke-color: var(--black);
        -moz-text-stroke-width: 1px;
        -moz-text-stroke-color: var(--black);
      }
    }
  }
}
.modal,
.success {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999971;
  opacity: 0;
  top: 0;
  pointer-events: none;
  transition: 0.7s cubic-bezier(0.22, 0.81, 0.01, 0.99);
  &--active {
    opacity: 1;
    pointer-events: auto;
  }
  .swiper-buttons {
    background: var(--black);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: flex;
    width: 350px;
    height: 80px;
    align-items: center;
    padding: 0 56px 0 20px;
    @media (max-width: 900px) {
      height: 60px;
      width: 181px;
      padding: 6px 6px 6px 20px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      margin: 0;
      padding: 0;
      transform: none;
      cursor: none;
      transition: 0.3s;
      @media (max-width: 900px) {
        width: 20px;
        height: 20px;
      }
      svg {
        @media (max-width: 900px) {
          width: 8px;
          height: 14px;
        }
      }
    }
    .swiper-button-next {
      margin-right: auto;
      margin-left: 43px;
      @media (max-width: 900px) {
        margin-left: 29px;
      }
    }
    .gallery__pagination {
      position: static;
    }
    .gallery__pagination-current,
    .gallery__pagination-slesh,
    .gallery__pagination-amount {
      color: #fff;
    }
  }
  .gallery-top {
    width: 100%;
  }
  .swiper-slide {
    &__img {
      width: 100%;
      height: 100%;
    }
  }
  &__button {
    position: absolute;
    border: 0.5px solid var(--black);
    top: 40px;
    right: 100px;
    @media (max-width: 1200px) {
      top: 20px;
      right: 20px;
    }
    @media (max-width: 900px) {
      top: 10px;
      right: 10px;
    }
  }
  &__close {
    position: relative;
    background-color: #fff;
    z-index: 10000;
    width: 55px;
    height: 55px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    // position: relative;
    display: flex;
    // background-color: var(--black);

    @media (max-width: 700px) {
      width: 30px;
      height: 30px;
    }
    &::after {
      content: attr(data-tip);
      position: absolute;
      font-weight: 900;
      line-height: 140%;
      text-transform: uppercase;
      color: #ffffff;
      right: calc(100% + 20px);
      z-index: 1000;
      pointer-events: none;
      top: 50%;
      transform: translate(0, -50%);
      opacity: 0;
      @media (max-width: 900px) {
        display: none;
      }
    }
    &--open {
      &::after {
        transition: 0.3s 0.8s;
        opacity: 1;
      }
    }
    &-line {
      display: block;
      position: absolute;
      transform: translate(-50%, 0);

      background-color: var(--black);
      width: 27px;
      height: 4px;
      @media (max-width: 700px) {
        width: 12px;
        height: 2.59px;
      }
    }
    &-line--first {
      top: 45%;
      transform: rotate(45deg);
      left: calc(50% + -14px);
      @media (max-width: 700px) {
        top: 49%;
        left: calc(50% + -6px);
      }
    }
    &-line--middle {
      left: -20px;
    }
    &-line--last {
      transform: rotate(-45deg);
      left: calc(50% - 13px);
      bottom: 48%;
      @media (max-width: 700px) {
        left: calc(50% - 6px);
        bottom: 43%;
      }
    }
  }
}
.success {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    @media (max-width: 1200px) {
      font-size: 120px;
    }
    @media (max-width: 900px) {
      font-size: 80px;
    }
    @media (max-width: 500px) {
      font-size: 48px;
    }
  }
  &__text {
    font-weight: 900;
    font-size: 70px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -ms-text-stroke-width: 1px;
    -ms-text-stroke-color: #fff;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: #fff;
    margin-top: 6.44vh;
    max-width: 1100px;
    @media (max-width: 1200px) {
      font-size: 60px;
    }
    @media (max-width: 1200px) {
      font-size: 40px;
      margin-top: 2vh;
    }
    @media (max-wdth: 500px) {
      font-size: 24px;
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  &::after,
  &::before {
    content: "";
  }
}
.link {
  font-weight: 900;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--black);
  -ms-text-stroke-width: 0.5px;
  -ms-text-stroke-color: var(--black);
  -moz-text-stroke-width: 0.5px;
  -moz-text-stroke-color: var(--black);
  color: #fff;
  display: flex;
  align-items: center;
  svg {
    margin-left: 10px;
    path {
      transition: 0.4s;
    }
  }
}
.avatar {
  position: relative;
  display: block;
  flex: 0 0 500px;
  @media (max-height: 850px) {
    flex: 0 1 auto;
  }
  &__picture {
    position: relative;
    display: block;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      mix-blend-mode: difference;
      z-index: 3;
    }
  }
  &__img {
    mix-blend-mode: difference;
    // @media (max-height: 850px) {
    //   height: 620px;
    //   // overflow: hidden;
    // }
    // @media (max-height: 750px) {
    //   height: auto;
    // }
    // @media (max-width: 700px) {
    //   height: auto !important;
    // }
  }
  &__icon {
    position: absolute;
    bottom: 30px;
    left: -122px;
    @media (max-width: 700px) {
      width: 93px;
      height: 93px;
      top: 10px;
      left: auto;
      right: 61px;
      z-index: 99999999999999999;
    }
    &--disable {
      display: none;
    }
  }
}
