$default-font: "TT Norms";
$content-width: 1250px;
$heightHeader: 95px;
$mainColor: #111111;
$mainWeight: 300;
$mainSize: 20px;
:root {
  --black: #111111;
  --blue: #2829f0;
  --blue-type-two: #2d00fb;
  --violet: #7863c8;
}
