@import "reset";
@import "fonts";
@import "vars";
@import "fullpage";
@import "swiper";
@import "global";
@import "animation";
@import "header";
@import "footer";
.who {
  position: relative;
  padding-top: 50px;
  @media (max-height: 750px) {
    overflow: hidden;
  }
  @media (max-width: 700px) {
    padding-top: 0;
  }
  &__container {
    display: flex;

    @media (max-width: 1200px) {
      align-items: center;
    }
    @media (max-width: 700px) {
      flex-direction: column;
    }
    @media (max-width: 500px) {
      padding: 0 !important;
    }
  }
  &__name {
    font-weight: 900;
    font-size: 150px;
    line-height: 95%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black);
    -ms-text-stroke-width: 1px;
    -ms-text-stroke-color: var(--black);
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: var(--black);
    color: #fff;
    position: relative;
    margin: 20px 0 10px;

    @media (max-width: 1200px) {
      font-size: 110px;
    }
    @media (max-width: 900px) {
      font-size: 90px;
      margin: 0;
    }
    @media (max-width: 500px) {
      font-size: 55px;
      line-height: 110%;
      margin: -61px 0 0;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: var(--black);
      -ms-text-stroke-width: 0;
      -ms-text-stroke-color: var(--black);
      -moz-text-stroke-width: 0;
      -moz-text-stroke-color: var(--black);
    }
    &-black {
      color: #000;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: var(--black);
      -ms-text-stroke-width: 0;
      -ms-text-stroke-color: var(--black);
      -moz-text-stroke-width: 0;
      -moz-text-stroke-color: var(--black);
    }
  }
  &__job {
    line-height: 160%;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
      max-width: 350px;
    }
    @media (max-width: 900px) {
      margin-top: 10px;
      margin-bottom: 30px;
    }
    @media (max-width: 700px) {
      max-width: 300px;
    }
    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 140%;
      max-width: 241px;
      margin: 5px 0 0;
    }
  }
  &__achieving {
    font-size: 18px;
    line-height: 140%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: relative;
    // display: flex;
    // align-items: center;
    margin-top: 10px;
    padding-left: 30px;
    @media (max-width: 1200px) {
      max-width: 350px;
    }
    @media (max-width: 700px) {
      display: none;
    }
    @media (max-width: 500px) {
      font-size: 14px;
    }
    &--visible {
      display: block !important;
      text-align: center;
      max-width: 100% !important;
      padding: 35px 0 0 0 !important;
      margin-top: 15px !important;
    }
    &::after {
      content: url(../images/achieving.svg);
      position: absolute;
      left: 0;
      top: 2px;
      @media (max-width: 700px) {
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
      }
    }
    &-bold {
      font-weight: 700;
      // margin: 0 6px;
    }
  }
  &__information {
    // position: relative;
    z-index: 2;
    @media (max-width: 700px) {
      order: 1;
    }
    @media (max-width: 500px) {
      padding: 0 10px;
    }
  }
  .avatar {
    left: -145px;
    @media (max-width: 1200px) {
      left: -100px;
    }
    @media (max-width: 700px) {
      order: 0;
      left: 0;
    }
    &__picture {
      &::after {
        @media (max-width: 500px) {
          display: none;
        }
      }
    }
    &__img {
      @media (max-width: 700px) {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
      @media (max-width: 500px) {
        mix-blend-mode: normal;
      }
    }
  }
  &__socials {
    position: absolute;
    bottom: 70px;
    display: flex;
    align-items: center;
    @media (max-width: 700px) {
      display: none;
    }
  }
  &__social {
    position: relative;
    margin-right: 30px;
    display: block;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
      .who__social-icon {
        path {
          fill: #fff;
        }
      }
    }
    &::after {
      content: "";
      background-color: var(--black);
      position: absolute;
      width: 55px;
      height: 55px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.3s;
      z-index: -1;
    }
    &-icon {
      path {
        transition: 0.3s;
      }
    }
  }
}
.about {
  background-color: #fff;
  @media (max-height: 750px) {
    margin-top: 30px;
  }
  @media (max-width: 700px) {
    margin-top: 30px;
    background: var(--black);
    color: #ffffff;
    padding: 70px 0 60px;
    margin-bottom: 40px;
  }
  &__text {
    font-weight: 900;
    font-size: 50px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: 40px;
    }
    @media (max-width: 900px) {
      font-size: 30px;
    }
    @media (max-width: 500px) {
      font-size: 24px;
    }
    &-white {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--black);
      -ms-text-stroke-width: 1px;
      -ms-text-stroke-color: var(--black);
      -moz-text-stroke-width: 1px;
      -moz-text-stroke-color: var(--black);
      color: #fff;
      @media (max-width: 700px) {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        -ms-text-stroke-width: 1px;
        -ms-text-stroke-color: #fff;
        -moz-text-stroke-width: 1px;
        -moz-text-stroke-color: #fff;
      }
    }
  }
}
.education {
  background-color: #fff;
  opacity: 0;
  transition: 0.9s ease-out;
  @media (max-height: 750px) {
    margin-top: 30px;
    padding-top: 50px;
  }
  @media (max-width: 700px) {
    margin-top: 30px;
    padding-top: 50px;
  }
  &--active {
    opacity: 1;
  }
  .swiper {
    &-container {
      padding: 0 50px 12.44vw;
      margin-top: 8vh;
      padding-bottom: 12.44vh;
      @media (max-width: 1200px) {
        padding: 0 15px 12.44vw;
      }
      @media (max-width: 700px) {
        padding: 0 0 5vh;
      }
      @media (max-width: 500px) {
        margin-top: 40px;
        padding: 0;
        overflow: hidden;
      }
    }
    &-slide {
      width: 122px;
      height: 122px;
      background-color: var(--black);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0);
      transition: 0.9s ease-out;
      // opacity: 0;
      @media (max-width: 900px) {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 500px) {
        width: 100%;
        height: auto;
        flex: 0 0 100%;
        display: block;
        background-color: transparent;
        pointer-events: none;
        border-radius: 0;
      }
      // @media (max-width: 700px) {
      //   transform: scale(1);
      // }
      &:nth-child(even) {
        transform: scale(0.2);
        // @media (max-width: 700px) {
        //   transform: scale(1);
        // }
      }
      &--active {
        transform: scale(1) !important;
        // opacity: 1;
      }
      &--open {
        transform: scale(1.6) !important;
        @media (max-width: 1200px) {
          transform: scale(1.2) !important;
        }
        .swiper-slide__number {
          opacity: 0;
        }
        .swiper-slide__logo {
          transform: scale(1);
          opacity: 1;
          @media (max-width: 900px) {
            transform: scale(0.6);
          }
        }
      }
      &:hover {
        .swiper-slide__number {
          opacity: 0;
        }
        .swiper-slide__logo {
          transform: scale(1);
          opacity: 1;
          @media (max-width: 900px) {
            transform: scale(0.6);
          }
        }
      }
      // &:hover {
      //   transition: 0.3s ease-out 0s;
      //   transform: scale(1.64) !important;
      // }
      &__number {
        font-weight: 900;
        font-size: 50px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;
        position: absolute;
        transition: 0.4s ease-out;
        @media (max-width: 900px) {
          font-size: 30px;
        }
        @media (max-width: 500px) {
          display: none;
        }
      }
      &__logo {
        // display: none;
        opacity: 0;
        transform: scale(0);
        transition: 0.4s ease-out;
        @media (max-width: 500px) {
          transform: scale(1);
          opacity: 1;
          background-color: var(--black);
          border-radius: 50%;
          width: auto;
          height: auto;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
        &-icon {
          @media (max-width: 500px) {
            width: 193px;
            height: 193px;
            padding: 23px;
          }
        }
      }
      // &__text {
      //   position: absolute;
      //   bottom: 20.11%;
      // }
      .education__text {
        position: static;
        opacity: 1;
        transform: none;
        margin-top: 25px;
        font-size: 18px;
      }
    }
  }
  &__text {
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    // display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(100% + 200px);
    pointer-events: none;
    transition: 0.5s ease-out;
    // &[data-number-text="1"] {
    //   display: block;
    // }
    &--visible {
      display: block;
      opacity: 1;
      top: 100% !important;
      // transition: 1.7s ease-out;
    }
  }
}
.projects {
  opacity: 0;
  transition: 0.9s ease-out;
  // padding-top: 150px;
  background-color: #fff;
  @media (max-height: 750px) {
    margin-top: 120px;
    padding-top: 50px;
  }
  @media (max-width: 700px) {
    margin-top: 120px;
    padding-top: 50px;
  }
  @media (max-width: 700px) {
    margin-top: 30px !important;
  }
  &--active {
    opacity: 1;
  }
  &__container {
    display: flex;
    padding-top: 150px !important;
    height: 100%;
    // @media (min-height: 851px) {
    //   padding-top: 150px !important;
    // }
    @media (max-height: 750px) {
      padding-top: 0 !important;
    }
    @media (max-width: 1200px) {
      padding-top: 100px !important;
    }
    @media (max-width: 700px) {
      padding-top: 0 !important;
      display: block;
    }
    @media (max-width: 500px) {
      padding: 0 !important;
    }
  }
  &__theme {
    flex: 0 1 auto;
    margin-right: 6.88%;
    margin-top: 20px;
    @media (max-width: 700px) {
      margin: 0;
    }
    &-title {
      font-weight: 900;
      font-size: 30px;
      line-height: 140%;
      text-transform: uppercase;
      @media (max-width: 700px) {
        font-size: 35px;
        text-align: center;
      }
    }
  }
  &__tags {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    @media (max-width: 700px) {
      flex-direction: row;
      margin-top: 20px;
      justify-content: center;
    }
    @media (max-width: 500px) {
      justify-content: flex-start;
      padding: 0 10px;
    }
  }
  &__tag {
    height: 32px;
    border: 0.5px solid var(--black);
    border-radius: 100px;
    display: inline-block;
    line-height: 31px;
    padding: 0 16px;
    font-size: 14px;
    margin-top: 25px;
    transition: 0.3s;
    @media (max-width: 700px) {
      margin: 0 10px 0 0;
    }
    &:hover {
      background-color: var(--black);
      color: #fff;
    }
    &--blue {
      &.projects__tag--active {
        background-color: var(--blue) !important;
        border: 0.5px solid var(--blue) !important;
        color: #fff !important;
      }
    }
    &--violet {
      &.projects__tag--active {
        background-color: var(--violet) !important;
        border: 0.5px solid var(--violet) !important;
        color: #fff !important;
      }
    }

    &:first-child {
      margin-top: 0px;
    }
  }
  &__list {
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: 0.4s ease-out;
    display: none;
    @media (max-width: 700px) {
      margin-top: 40px;
    }
    @media (max-width: 500px) {
      margin-top: 28px;
    }
    &--active {
      animation: 0.7s ease-out 0s forwards alternate projects-list;
      opacity: 1;
      display: flex;
    }
  }
  &__project {
    font-weight: 900;
    font-size: 55px;
    line-height: 140%;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    transition: 0.3s;
    @media (min-height: 851px) {
      font-size: 80px;
    }
    @media (max-width: 1200px) {
      font-size: 55px;
    }
    @media (max-width: 900px) {
      font-size: 50px !important;
    }
    @media (max-width: 500px) {
      font-size: 30px !important;
      padding: 12px 0px 12px 10px;
      border-bottom: 1px solid var(--black);
      width: 100%;
    }
    &:hover {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--black);
      -ms-text-stroke-width: 1px;
      -ms-text-stroke-color: var(--black);
      -moz-text-stroke-width: 1px;
      -moz-text-stroke-color: var(--black);
      color: #fff;
      .projects__project-img {
        opacity: 1;
      }
    }
    &-img {
      position: absolute;
      left: 50%;
      opacity: 0;
      transition: 0.3s;
      top: 50%;
      transform: translate(0, -50%);
      pointer-events: none;
      z-index: 5;
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}
.cases {
  background-color: #fff;
  @media (max-height: 750px) {
    margin-top: 30px;
    padding-top: 50px;
  }
  @media (max-width: 700px) {
    margin-top: 30px;
    padding-top: 50px;
  }
  &__container {
    @media (max-width: 700px) {
      padding: 0 !important;
    }
  }
  &--active {
    .title {
      right: 0 !important;
    }
    .cases__slider {
      right: 0 !important;
    }
    .swiper-slide {
      transform: translateX(0) !important;
    }
  }
  .title {
    text-align: left;
    position: relative;
    right: calc(100% + ((100vw - 1250px) / 2));
    @media (max-width: 1200px) {
      right: calc(100% + 10px);
    }
    @media (max-width: 700px) {
      text-align: center;
      padding: 0 10px;
    }
    &--first {
      transition: 0.9s cubic-bezier(0.22, 0.81, 0.01, 0.99);
      @media (max-height: 850px) {
        display: none;
      }
      @media (max-height: 750px) {
        display: block;
      }
    }
    &--second {
      transition: 1.7s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    }
  }
  &__slider {
    margin-top: 8.48vh;
    padding-right: 47px;
    right: calc(100% + ((100vw - 1250px) / 2));
    position: relative;
    transition: 1.7s cubic-bezier(0.22, 0.81, 0.01, 0.99);

    @media (max-width: 1200px) {
      padding-right: 0;
      right: calc(100% + 10px);
    }
    @media (max-width: 900px) {
      overflow: hidden;
      @for $i from 1 through 4 {
        .swiper-slide:nth-child(#{$i}) {
          transform: translateX(calc(-1px * (125 * #{$i})));
        }
      }
    }
    @media (max-width: 700px) {
      margin-top: 12px;
      padding-left: 10px;
    }
    @for $i from 1 through 3 {
      .swiper-slide:nth-child(#{$i}) {
        transform: translateX(calc(-1px * (125 * #{$i})));
      }
    }
    .swiper-scrollbar__wrapper {
      @media (max-width: 500px) {
        padding-right: 10px;
      }
    }
    .swiper-slide {
      flex: 0 1 calc(25% - (60px / 4));
      position: relative;
      transition: 1.7s cubic-bezier(0.22, 0.81, 0.01, 0.99) 0.3s;
      @media (max-width: 900px) {
        flex: 0 0 257px;
        width: 257px;
      }
      &__img {
        max-width: 100%;
        // height: 100%;
        width: 100%;
      }
      &__box {
        position: absolute;
        left: 10px;
        bottom: 10px;
        background: #ffffff;
        border-radius: 3px;
        padding: 20px 20px 25px;
        width: calc(100% - 20px);
        transition: 0.7s cubic-bezier(0.22, 0.81, 0.01, 0.99);
        overflow: hidden;
        box-shadow: 0 0 1px 1px rgba($color: #111, $alpha: 0.04);
        &--open {
          .swiper-slide__text,
          .swiper-slide__link {
            animation: 0.7s ease-out 0s forwards alternate box-slide;
            display: block;
          }
        }
      }
      &__tag {
        background-color: var(--blue-type-two);
        border-radius: 2px;
        color: #fff;
        height: 20px;
        display: inline-block;
        padding: 3.5px 10px;
        font-weight: 500;
        font-size: 8px;
        line-height: 160%;
        text-transform: uppercase;
      }
      &__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        margin-top: 10px;
      }
      &__text {
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        opacity: 0.7;
        padding: 15px 0 50px;
        display: none;
        @media (max-width: 1200px) {
          padding: 15px 0 20px;
        }
      }
      &__link {
        font-weight: 900;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #fff;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: var(--black);
        -ms-text-stroke-width: 0.5px;
        -ms-text-stroke-color: var(--black);
        -moz-text-stroke-width: 0.5px;
        -moz-text-stroke-color: var(--black);
        display: none;
      }
    }
  }
}
.gallery {
  opacity: 0;
  transition: 0.9s ease-out;
  background-color: #fff;
  @media (max-height: 750px) {
    margin-top: 80px;
  }
  @media (max-width: 700px) {
    margin-top: 80px;
  }
  &__container {
    @media (max-width: 700px) {
      padding: 0 !important;
    }
  }
  &--active {
    opacity: 1;
  }
  .title {
    @media (max-width: 500px) {
      text-align: left;
      padding-left: 10px;
    }
  }
  &-top {
    flex: 0 1 866px;
    margin: 0;
    height: 100%;
  }

  .swiper {
    &-container {
      overflow: hidden;
    }
    &-wrapper {
      justify-content: flex-start;
    }
    &-slide__img {
      width: 100%;
      height: 100%;
    }
    &-buttons {
      display: none;
    }
  }
  &-thumbs {
    flex: 0 1 161px;
    margin: 0;
    margin-left: -55px;
    margin-top: 84px;
    overflow: visible;
    @media (max-width: 900px) {
      margin-left: 0;
      margin-top: 0;
    }
    .swiper-wrapper {
      // justify-content: flex-end;
      align-items: flex-end;
    }
    .swiper-slide {
      height: 61px;
      width: 100px;
      transition: 0.3s ease-out;
      &--active {
        height: 98px;
        width: 161px;
        @media (max-width: 900px) {
          height: 61px;
          width: 100px;
        }
      }
      &--disable {
        height: 61px;
        width: 100px;
      }
      &:hover {
        height: 98px;
        width: 161px;
        @media (max-width: 900px) {
          height: 61px;
          width: 100px;
        }
        .swiper-slide__img {
          height: 100%;
        }
      }
      &__img {
        height: 100%;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: flex-start;
    height: 512px;
    margin-top: 10px;
    max-width: 971px;
    position: relative;
    @media (max-width: 900px) {
      display: block;
      height: auto;
    }
  }
  &__pagination {
    position: absolute;
    top: 17px;
    right: 25px;
    display: flex;
    align-items: flex-end;
    @media (max-width: 1200px) {
      right: 15px;
    }
    @media (max-width: 900px) {
      top: auto;
      bottom: calc(100% + 19px);
    }
    @media (max-width: 700px) {
      right: 10px;
    }
    &-current {
      font-weight: 800;
      font-size: 30px;
      line-height: 160%;
    }
    &-slesh,
    &-amount {
      font-weight: 200;
      line-height: 160%;
    }
  }
}
.news {
  opacity: 0;
  transition: 0.9s ease-out;
  background-color: #fff;
  @media (max-height: 750px) {
    margin-top: 30px;
    padding-top: 50px;
  }
  @media (max-width: 700px) {
    margin-top: 30px;
    padding-top: 50px;
  }
  &__container {
    display: flex;
    margin-top: 20px;

    @media (max-width: 900px) {
      margin-top: 70px;
    }
    @media (max-width: 700px) {
      display: block;
      padding: 0 !important;
      margin-top: 0;
    }
  }
  &--active {
    opacity: 1;
  }
  &__names {
    margin-right: 53px;
    flex: 0 0;
    @media (max-width: 900px) {
      margin-right: 25px;
    }
    @media (max-width: 700px) {
      text-align: center;
      margin-bottom: 30px;
      margin-right: 0;
    }
    // min-height: 581px;
  }
  &__name {
    font-weight: 900;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
    @media (max-width: 900px) {
      font-size: 25px;
    }
    @media (max-width: 700px) {
      font-size: 35px;
    }
  }
  &__list {
    flex: 0 1 833px;
    max-width: 833px;
    width: 100%;
    display: none;
    opacity: 0;
    margin-right: 15px;
    &--active {
      animation: 0.7s ease-out 0s forwards alternate projects-list;
      display: block;
      opacity: 1;
    }
  }
  &__box {
    position: relative;
    border-top: 1px solid var(--black);
    padding: 25px 13px;
    @media (max-width: 900px) {
      padding: 20px 10px;
    }
    &:hover {
      .news__img {
        height: 100%;
      }
      .news__title,
      .news__p {
        color: #fff;
      }
      .link {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #fff;
        -ms-text-stroke-width: 0.5px;
        -ms-text-stroke-color: #fff;
        -moz-text-stroke-width: 0.5px;
        -moz-text-stroke-color: #fff;
        color: transparent;
        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid var(--black);
    }
  }
  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    position: relative;
    z-index: 1;
    @media (max-width: 500px) {
      font-size: 20px;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    @media (max-width: 900px) {
      display: block;
    }
    @media (max-width: 500px) {
      margin-top: 5px;
    }
  }
  &__p {
    line-height: 140%;
    margin-right: 15px;
    @media (max-width: 900px) {
      margin-right: 0;
    }
    @media (max-width: 500px) {
      font-size: 12px;
    }
  }
  .link {
    margin-right: 5px;
    @media (max-width: 900px) {
      margin-right: 0;
      margin-top: 10px;
    }
    @media (max-width: 500px) {
      margin-top: 20px;
    }
  }
  &__img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: 0.3s ease-out;
  }
}
.help {
  opacity: 0;
  transition: 0.9s ease-out;
  background-color: #fff;
  @media (max-height: 750px) {
    margin-top: 30px;
    padding-top: 50px;
  }
  @media (max-width: 700px) {
    margin-top: 30px;
    padding-top: 50px;
  }
  &__container {
    display: flex;
    margin-top: 20px;
    @media (max-width: 900px) {
      margin-top: 70px;
      display: block;
    }
    @media (max-width: 500px) {
      padding: 0 !important;
      margin-top: 0;
    }
  }
  &--active {
    opacity: 1;
  }
  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
    flex: 0 0 226px;
    margin-right: 7px;
    @media (max-width: 900px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
    @media (max-width: 700px) {
      text-align: center;
      font-size: 35px;
    }
    @media (max-width: 500px) {
      margin-bottom: 0;
      padding: 0 10px;
    }
  }
  &__block {
    flex: 0 1 878px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 500px) {
      display: block;
    }
  }
  &__box {
    flex: 0 1 50%;
    padding: 30px 26px 37px 31px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @media (max-width: 700px) {
      padding: 15px 13px;
    }
    @media (max-width: 500px) {
      padding: 30px 10px;
      border-bottom: 1px solid rgba($color: #111, $alpha: 0.2);
      border-right: none !important;
      border-top: none !important;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    &--green {
      &::after {
        background-color: var(--green);
      }
      .help__box-tag {
        background-color: var(--green);
      }
      &:hover {
        .help__box-tag {
          color: var(--green);
        }
      }
    }
    &--violet {
      &::after {
        background-color: var(--violet);
      }
      .help__box-tag {
        background-color: var(--violet);
      }
      &:hover {
        .help__box-tag {
          color: var(--violet);
        }
      }
    }
    &--orange {
      &::after {
        background-color: var(--orange);
      }
      .help__box-tag {
        background-color: var(--orange);
      }
      &:hover {
        .help__box-tag {
          color: var(--orange);
        }
      }
    }
    &--blue {
      &::after {
        background-color: var(--blue-type-three);
      }
      .help__box-tag {
        background-color: var(--blue-type-three);
      }
      &:hover {
        .help__box-tag {
          color: var(--blue-type-three);
        }
      }
    }
    &:hover {
      &::after {
        animation: 0.3s ease-out 0s forwards alternate help-block;
      }
      .help__box-title,
      .help__box-text {
        color: #fff !important;
      }
      .help__box-tag {
        background-color: #fff;
      }
      .link {
        color: transparent;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #fff;
        -ms-text-stroke-width: 0.5px;
        -ms-text-stroke-color: #fff;
        -moz-text-stroke-width: 0.5px;
        -moz-text-stroke-color: #fff;
        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }
    &:first-child {
      border-right: 1px solid var(--grey);
    }
    &:nth-child(3) {
      border-right: 1px solid var(--grey);
      border-top: 1px solid var(--grey);
    }
    &:last-child {
      border-top: 1px solid var(--grey);
      @media (max-width: 500px) {
        border-bottom: none !important;
      }
    }
    &-tag {
      position: relative;
      z-index: 1;
      border-radius: 5px;
      line-height: 26px;
      height: 26px;
      display: inline-block;
      padding: 0 16px;
      font-weight: bold;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      align-self: flex-start;
    }
    &-title {
      position: relative;
      z-index: 1;
      font-weight: 800;
      line-height: 120%;
      margin: 15px 0 20px;
      @media (max-width: 500px) {
        margin: 15px 0 10px;
      }
    }
    &-text {
      position: relative;
      z-index: 1;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 20px;
      @media (max-width: 500px) {
        margin-bottom: 15px;
        font-size: 12px;
      }
    }
    .link {
      position: relative;
      z-index: 1;
      justify-content: flex-end;
      align-self: flex-end;
      margin-top: auto;
      @media (max-width: 500px) {
        align-self: flex-start;
      }
      &:hover {
        color: #fff;
        svg {
          path {
            fill: #fff;
          }
        }
      }
      // flex-grow: 1;
      // height: 100%;
    }
  }
}
.contact {
  opacity: 0;
  transition: 0.9s ease-out;
  background-color: #fff;
  @media (max-height: 750px) {
    margin-top: 50px;
  }
  @media (max-width: 700px) {
    margin-top: 50px;
  }
  &--active {
    opacity: 1;
  }
  &__container {
    display: flex;
  }
  .avatar {
    @media (max-height: 750px) {
      display: none;
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__form {
    margin-top: 4.77vh;
    margin-left: 4.17vh;
    @media (max-width: 900px) {
      margin: 0;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
    &-input {
      // display: block;
      height: 54px;
      line-height: 54px;
      padding: 0 15px;
      border: 1px solid #000000;

      width: 250px;
      font-weight: 700;
      font-size: 18px;
      cursor: none;

      @media (max-width: 500px) {
        width: 100%;
        height: 66px;
        line-height: 66px;
        padding: 0 20px;
      }
      &-wrapper {
        position: relative;
        width: 250px;
        margin-bottom: 3.33vh;
        @media (max-width: 700px) {
          margin-bottom: 10px;
        }
        @media (max-width: 500px) {
          width: 100%;
        }
        &--phone {
          .contact__form-input {
            padding-right: 43px;
          }
        }
        &--success {
          .contact__form-input-icon--success {
            opacity: 1;
          }
        }
        &--error {
          .contact__form-input-icon--error {
            opacity: 1;
          }
          &::after {
            opacity: 1 !important;
          }
        }
        &::after {
          content: attr(data-text-error);
          position: absolute;
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          top: calc(100% + 5px);
          left: 0;
          transition: 0.3s ease-in;
          opacity: 0;
          pointer-events: none;
          z-index: 2;
          background: #fff;
        }
      }
      &-icon {
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translate(0, -50%);
        transition: 0.3s ease-in;
        opacity: 0;
        pointer-events: none;
      }
      &::placeholder {
        font-weight: 300;
        font-size: 18px;
        color: var(--black);
        opacity: 1;
      }
    }
    &-submit {
      font-weight: 900;
      font-size: 30px;
      line-height: 140%;
      text-transform: uppercase;
      margin-top: 1.11vh;
      @media (max-width: 500px) {
        margin-top: 10px;
      }
    }
  }
  &__title {
    font-weight: 900;
    font-size: 130px;
    line-height: 95%;
    position: relative;
    left: calc(-128px - 4.17vh);
    margin-bottom: 7.33vh;
    color: #000;
    @media (max-width: 1200px) {
      font-size: 85px;
    }
    @media (max-height: 750px) {
      left: 0;
    }
    @media (max-width: 900px) {
      left: 0;
    }
    @media (max-width: 700px) {
      margin-bottom: 30px;
    }
    @media (max-width: 500px) {
      font-size: 40px;
      line-height: 140%;
      text-transform: uppercase;
    }
    &-white {
      color: #fff;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      -ms-text-stroke-width: 1px;
      -ms-text-stroke-color: #000;
      -moz-text-stroke-width: 1px;
      -moz-text-stroke-color: #000;
      @media (max-width: 500px) {
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: #000;
        -ms-text-stroke-width: 0;
        -ms-text-stroke-color: #000;
        -moz-text-stroke-width: 0;
        -moz-text-stroke-color: #000;
        color: var(--black);
      }
    }
  }
  &__text {
    font-size: 24px;
    line-height: 24px;
    margin-top: 10vh;
    @media (max-width: 1200px) {
      max-width: 300px;
    }
    @media (max-width: 900px) {
      max-width: 100%;
      margin-top: 5vh;
    }
    @media (max-width: 700px) {
      margin-bottom: 27px;
    }
    @media (max-width: 500px) {
      margin-top: 20px;
      font-size: 20px;
      line-height: 24px;
    }
    &-bold {
      font-weight: 700;
    }
  }
  .who__socials {
    display: flex;
    position: static;
  }
  .header__contact--phone {
    width: 100%;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background-color: var(--black);
    color: #fff;
    text-align: center;
    padding: 0 25px;
    margin: 0 0 0 0px !important;
    font-weight: 700;
    font-size: 15px;
  }
  .who__social {
    background-color: var(--black);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    &-icon {
      path {
        fill: #fff;
      }
    }
    &:nth-child(3) .who__social-icon {
      width: 22px;
      height: 13px;
    }
    &:nth-child(2) .who__social-icon {
      width: 9px;
      height: 18px;
    }
    &:first-child .who__social-icon {
      width: 20px;
      height: 20px;
    }
  }
  .menu__desktop-contacts {
    margin-top: 60px;
  }
}
